

.form-container {
  background-color: #d1c0e3;
  padding: 20px;
  border-radius: 5px;
}

.button-space {
  display: flex;
  justify-content: space-between;
}
.adding-exercise {
  color: #56647a;
  margin: 20px 0;
}
input,select {
  margin-left: 40px;
}
.training-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
